*{
    box-sizing: border-box;
    margin: 0; /* Center the container */
    padding: 0;
    outline: none;
}
body{
    display: flex;
    justify-content: center;
    align-items:center ;
    overflow: hidden;
    height:100vh;
    background: url(./assets/wooden\ background.jpg);
    background-size: cover;
    background-position: center;
}
.mainbox{
    position: relative;
    width:500px;
    height: 500px;
    margin-top: 50px;
}
.mainbox:after{
    position: absolute;
    content:'';
    width:100%;
    height:100%;
    background: url(./assets/left-arrow.png) no-repeat;
    background-size: 20%;
    left: 93%;
    top:40%;
    /* transform: rotate(90deg); */
}
.box{
    width:100%;
    height:100%;
    position: relative;
    border-radius: 50%;
    border:10px solid whitesmoke;
    overflow: hidden;
    transition:all ease-in-out 5s;
    transform:rotate(90deg)
}
span{
    width:100%;
    height:100%;
    display: inline-block;
    position: absolute;
}
.span1{
    clip-path: polygon(0 17%, 0 50%, 50% 50%);
    background-color: green;
}
.span2{
    clip-path: polygon(0 17%, 30% 0, 50% 50%);
    background-color: teal;
}
.span3{
    clip-path: polygon(30% 0, 71% 0, 50% 50%);
    background-color: blueviolet;
}
.span4{
    clip-path: polygon(71% 0, 100% 18%, 50% 50%);
    background-color: rgb(192, 101, 181);
}
.span5{
    clip-path: polygon(100% 18%, 100% 50%, 50% 50%);
    background-color: rgb(202, 62, 106);
}
.box2 .span3{
    background-color: rgb(30, 105, 80);
}
.box2{
    width: 100%;
    height:100%;
    transform:rotate(180deg)
}
.box2 .span1{
    background: #333;
}
.font{
    color:#fff;
    font-size: 20px;
}
.box1 .span1 h5{
    position: absolute;
    top: 40%;
    right: 70%;
    transform: rotate(200deg);
    text-align: center;
}
.box1 .span2 h5{
    position: absolute;
    top: 26%;
    right: 58%;
    transform: rotate(-130deg);
    text-align: center;
}
.box1 .span3 h5{
    position: absolute;
    top: 20%;
    right: 34.5%;
    transform: rotate(-90deg);
    text-align: center;
}
.box1 .span4 h5{
    position: absolute;
    top: 27%;
    right:18%;
    transform: rotate(-45deg);
    text-align: center;
}
.box1 .span5 h5{
    position: absolute;
    top: 41%;
    right:10%;
    transform: rotate(-15deg);
    text-align: center;
}
.box2 .span1 h5{
    font-size: 30px;
    position: absolute;
    top: 36%;
    right:67%;
    transform: rotate(200deg);
    text-align: center;
}
.box2 .span2 h5{
    position: absolute;
    top: 29%;
    right:58%;
    transform: rotate(-130deg);
    text-align: center;
}
.box2 .span3 h5{
    position: absolute;
    top: 18%;
    right:45%;
    transform: rotate(270deg);
    text-align: center;
}
.box2 .span4 h5{
    position: absolute;
    top: 25%;
    right:17%;
    transform: rotate(310deg);
    text-align: center;
}
.box2 .span5 h5{
   
    position: absolute;
    top: 39%;
    right:11%;
    transform: rotate(-20deg);
    text-align: center;
}
.spin{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid rgb(225, 198, 148);
    background: #763b11;
    color: #fff;
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    z-index: 1000;
}
.spin:active{
    width:70px;
    height: 70px;
    font-size: 20px;
}
.mainbox.animate:after{
    animation:animateArrow 0.7s ease infinite;
}
footer {
    background-color: #f8f8f8;
    padding: 20px;
    opacity: 20%;
    user-select: none;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    font-size:30px;
    color: #000000;
  }
audio{
    display: none;
}
@keyframes animateArrow {
    50%{
        right:-50px;
    }
}


